<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <img src="/img/bakercat.gif" alt="he's making something tasty...">
  <p>The above image path is relative to the mount point of our 'static' middleware</p>
  {{{body}}}
  <script src="https://unpkg.com/react@15/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/4.0.0-beta.6/react-router.js"></script>
</body>
</html>
